@media screen and (min-width:300px) and (max-width:600px){
    .blogcard{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
.blotitle{
    font-size: 16px;
    text-align: center;
}
    .blogcard1{
        width:95%;
        padding: 5px;
        border-radius: 0px !important;
      box-shadow: 5px 5px 8px rgba(0,0,0,0.5) !important;
    }
}